#ifdef AI_VOX

// Regex for collecting a list of ogg files
// (([a-zA-Z,.]+)\.ogg)

// For vim
// :%s/\(\(.*\)\.ogg\)/"\2" = 'sound\/announcer\/vox_fem\/\1',/g
/datum/vox_voice/normal
	name = VOX_NORMAL
	sounds = list(
  {%- for sex, phrases in SEXES.items() %}
    {%- for phrase in phrases %}
	"{{-  phrase.id -}}" = 'sound/announcer/vox_fem/{{- phrase.id -}}.ogg',
    {%- endfor %}
  {%- endfor %}
)
#endif
